* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
  color: salmon;
  text-decoration: underline dashed;
}
